@mixin tablet {
  @media (min-width: 767px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 991px) {
    @content;
  }
}

@mixin mobilePadding {
  padding: 0 16px;

  @include desktop() {
    padding: 0;
  }
}

$mainGrey: #373A36;
$mainOrange: #D48166;
$mainBeige: #f0eae2;
$lightGrey: #E6E2DD;
$maxWidth: 1172px;
