@import "./variables";


.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  border-top: 2px solid #f2f2f2;
  
  @include desktop() {
    flex-direction: row;
    height: 80px;
  }

  * > {
    max-width: $maxWidth;
  }

  &__copyright {
    color: black;
    order: 1;
    padding: 25px;
    
    @include desktop() {
      order: unset;
      padding: 0;
    }
  }

  &__logo {
    padding: 30px 0 10px;
    
    @include desktop() {
      padding: 0;
    }
  }

  ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding-bottom: 20px;
    
    @include desktop() {
      flex-direction: row;
      padding-bottom: unset;
    }

    li {
      padding: 5px 0;
      
      @include desktop() {
        padding: 0 20px;
      }

      a {
        color: black;
      }
    }
  }
}
